@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  max-height: 100vh;
}

.desktop--logo {
  display: none;
  padding: 1.5em 0;
}

.logo {
  padding: 1.5em 2em;
}

.image--container,
.business--image {
  min-width: 100%;
}

.about--business {
  padding: 2em 2em;
}

.first--info,
.second--info {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 10px;
  text-align: center;
}

.first--info {
  color: hsl(0, 36%, 70%);
}

.second--info {
  display: block;
  color: hsl(0, 6%, 24%);
  line-height: 1;
}

.business--info p {
  color: hsl(0, 36%, 70%);
  text-align: center;
  line-height: 1.7;
  margin: 1.5em 0;
}

.email--input {
  position: relative;
  margin-bottom: 2em;
}

#email {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  border: 2px solid hsl(0, 36%, 70%);
  color: hsl(0, 36%, 70%);
  display: block;
}

#email::placeholder {
  color: hsl(0, 36%, 70%);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2em;
}

#email:focus {
  outline-color: hsl(0, 36%, 70%);
}

#submit {
  padding: 0.9rem 2rem;
  border-radius: 2rem;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  position: absolute;
  right: -1.5%;
  top: 0.05rem;
}

#submit:hover {
  background: linear-gradient(90deg, hsl(0, 62%, 92%), hsl(0, 76%, 88%));
  transition: background 5s;
  cursor: pointer;
}

.error--logo {
  display: none;
}

.icon {
  position: absolute;
  top: 25%;
  right: 25%;
  display: block;
}

.message {
  display: none;
}

.error {
  color: hsl(0, 93%, 68%);
  margin-top: -1.4em;
  display: block;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 800px) {
  .main {
    width: 90%;
    min-width: 768px;
    height: 85vh;
    margin: 0.5rem auto;
    max-height: 100vh;
    display: flex;
    flex-direction: row-reverse;
  }
  .container {
    flex-basis: 60%;
  }
  .logo {
    display: none;
    margin-top: 0;
  }
  .desktop--logo {
    display: block;
  }
  .about--business {
    padding: 0 13em 2em 12em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(./images/bg-pattern-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
  .first--info,
  .second--info {
    text-align: justify;
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.2em;
  }
  .business--info p {
    text-align: left;
  }
  .image--container,
  .business--image {
    min-width: auto;
  }
  .image--container {
    flex-basis: 30%;
    max-height: 100%;
  }
  .business--image {
    height: 100%;
  }
  .icon {
    top: 25%;
    right: 18%;
    display: block;
  }
  .error {
    margin-top: -4.5em;
  }
}
